
body{
    position: relative;
}
.container{
    margin: 10px auto;
    overflow: hidden;
}
.pagination{
    padding: 32px;
}
a.page-link:hover{
 background-color: black !important;
 color: white  !important;
}

.jubotron{
    padding: 32px;
    overflow: hidden;
    overflow-wrap: normal;
    height: 500px;
}
.block1{
    font-size: 15px;
    line-height: 1.5
}
.lihover{
    margin-left: -50px;
}
.lihover:first-child{
    border-bottom: 1px solid cadetblue;
}

li.lihover:hover {
    background-color: cadetblue;
    cursor: pointer;
}
.badge{
    font-size: 12px;
    margin-bottom: 16px;
}

